{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Offre {{ bidding.name | capitalize }}{% endblock %}

{% block body %}
<div class="container my-3">
    <div class="card">
        <div class="card-image">
            <span id="expireAt" data-expire="{{ bidding.expireAt | date }}"></span>
            <img src="{{ bidding.image }}" alt="img" class="w-100 rounded-top">
        </div>
        <div class="bg-white py-2 text-center">
            Offre en cours: <span class="text-danger">119€</span>
        </div>
        <div class="card-body rounded-bottom">
            <h5>{{ bidding.name | capitalize }}</h5>
            <p>{{ bidding.content }}</p>
            <p>Prix de départ: <span class="text-danger">{{ bidding.startPrice }} €</span></p>
            <div class="d-flex justify-content-end align-items-center card-body-action">
                <button class="btn btn-sm btn-info text-white" id="js-show" data-toggle="popover" title="Faire une offre" data-placement="right" {% if bidding.expireAt | date < 'now'|date %} disabled > Expirer </button> {% else %} >Enchérir</button> {% endif %}
            </div>
        </div>
    </div>


    <div class="d-none mt-3" id="form-bid">
        <div class="d-flex justify-content-between">
            <h3>Indiquer le montant</h3>
            <span id="js-form-close" style="cursor:pointer;">X</span>
        </div>
    </div>

    <section class="my-3">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h3>Les offres</h3>
                <hr>
                <ul class="list-group">
                    {% for o in offer %}
                        <li class="list-group-item">{{ o.user.username | hide_name }}, a fait une offre de <b>{{ o.price }}€</b></li>  
                    {% endfor %}
                </ul>
            </div>
            <div class="col-12 col-lg-8 my-3 my-lg-0">
            <h3>Contacter le vendeur</h3>
            <hr>
            {% if bidding.expireAt | date <= 'now'|date %}
            <p>Vous ne pouvez plus contacter le vendeur, l'offre a expiré.</p>
            {% else %}
            <form>
                <div class="form-group">
                    <label for="exampleInputEmail1">Adresse mail</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="email">
                    <small id="emailHelp" class="form-text text-muted">Cette adresse mail servira au vendeur afin de vous répondre. </small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Message</label>
                    <textarea type="text" class="form-control" id="exampleInputPassword1"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
            {% endif %}
            </div>
        </div>
    </section>

</div>
{% endblock %}
