{% extends 'base.html.twig' %}
{% set expire = bidding.expireAt | date('Y-m-d H:i:s') <= 'now'|date('Y-m-d H:i:s') %}

{% block title %}{{ parent() }} Offre {{ bidding.name | capitalize }}{% endblock %}
{% block body %}
<div class="container my-3">
    {% if expire %}
        {% if bidding.offerBiddings is empty %}
            <div>Aucune offre n'a étais faite sur cette offre</div>
        {% else %}
            <div class="alert alert-success mt-3">
                {{ lastOffer[0].user.username | hide_name | capitalize }} a remporter l'offre au prix de {{ lastOffer[0].price | format_currency('EUR',{fraction_digit: 0}) }}
            </div>
        {% endif %}
    {% endif %}
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card border-0">
                <div class="card-image">
                    <count-time expire="{{ bidding.expireAt | date('Y-m-d H:i:s') }}"></count-time>
                    <img src="{{ bidding.image }}" alt="img" class="w-100 rounded-top">
                </div>
                <div class="bg-white py-2 text-center border-bottom border-top">
                    Offre en cours: <span class="font-weight-bold text-danger" id="last-offer">{{ findLastPrice(bidding)[0].price | format_currency('EUR',{fraction_digit: 0}) }}</span>
                </div>
                <div class="card-body rounded-bottom">
                    <h5>{{ bidding.name | capitalize }}</h5>
                    <p>{{ bidding.content }}</p>
                    <p>Prix de départ: <span class="text-danger">{{ bidding.startPrice | format_currency('EUR',{fraction_digit: 0}) }}</span></p>
                    <offer-create data-id="{{ bidding.id }}" data-user="{{ app.user ? app.user.username : null }}"></offer-create>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-4 mt-4 mt-lg-0">
            <div>
                <h3>Les offres</h3>
                <ul class="list-group overflow-auto scrollbar" style="max-height: 197px;">
                    {% for o in offer %}
                        <li class="list-group-item">{{ o.user.username | hide_name }}, a fait une offre de <b>{{ o.price | format_currency('EUR',{fraction_digit: 0})}}</b></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}